.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.jordan-pinkava {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: -3px;
  width: 291px;
  height: 92px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 88px;
  top: 0px;
}
.home2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 159px;
  align-items: center;
  justify-content: flex-start;
  width: 1118px;
  position: absolute;
  left: 161px;
  top: 111px;
}
.lets-create-a-website-design {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.today-lets-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-codes {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  width: 743px;
  height: 107px;
}
.rectangle-1 {
  background: #a8ff35;
  flex-shrink: 0;
  width: 180px;
  height: 57px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.jordan-pinkava-university-of-maryland-fall-2025 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 499px;
  top: 520px;
  width: 120px;
  height: 24px;
}
